<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site is created by <a href="https://github.com/ganeshsanap" target="_blank">Ganesh Sanap</a>. It uses the data from <a href="https://www.mapbox.com" target="_blank">mapbox.com</a> and <a href="https://weatherstack.com" target="_blank">weatherstack.com</a>!</p>
            <img class="portrait" src="/img/robot.png">
        </div>
        {{>footer}}
    </body>
</html>